<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequence Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Travel Sequence</h1>
    </header>

    <main>
        <section class="player-cards">
            <button id="reset-btn">Reset Game</button>
            <h2>Your Cards</h2>
            <div class="card-grid">
                {% for card in player_cards %}
                <div class="card-wrapper">
                    <img src="{{ url_for('static', filename='cards_png/' + CARD_MAP[card] + '.png') }}" alt="{{ card }}" class="card">
                    <button data-card="{{ card }}" class="play-card-btn">Play</button>
                </div>
                {% endfor %}
            </div>
        </section>
        
        
        <div class="card-grid">
            {% set counter = 0 %}
            {% for card, value in board.items() %}
                {% if counter % 6 == 0 %}
                <div class="card-row">
                {% endif %}
        
                <img src="{{ url_for('static', filename='cards_png/' + CARD_MAP[card] + '.png') }}" alt="{{ card }}">
        
                {% if counter % 6 == 5 %}
                </div> <!-- Close card-row -->
                {% endif %}
        
                {% set counter = counter + 1 %}
            {% endfor %}
        </div>
        

        <!-- <section class="game-log">
            <h2>Game Log</h2>
            Your game actions log here
        </section> -->
        
    </main>

    <!-- <footer>
        <p>Travel sequence</p>
    </footer> -->

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
